!bin
vim/bundle/
# ...but not their contents
vim/backups/*
vim/undodir/*
# Keep these folders...
!vim/backups/.gitkeep
!vim/undodir/.gitkeep
# Ignore the binary version because it will be automatically updated and
# reloaded when words are added with `zg`
vim/vim-spell-en.utf-8.add.spl
/Brewfile.lock.json
.idea
/Brewfile.current
keyboard_language
