.idea/
.ansible/
**/alacritty/themes/
**/zellij/config.kdl
**/i3/config.d/bar.conf
**/i3/config.d/config-colors.conf
**/i3/config.d/monitor-layout-current.conf
**/xsettingsd/xsettingsd.conf
**/yazi/flavors/*
**/yazi/theme.toml
!**/yazi/flavors/.keep
**/themes/active-theme.sh
**/dunst/dunstrc
**/polybar/profile_layouts/active_layout.ini
**/rofi/base.rasi
.item_expirations.txt
