#!/bin/sh

### Used by i3blocks
# [CPU-temperature] block
export T_WARN=75
export T_CRIT=95
# uses sensors output for chip
export SENSOR_CHIP="k10temp-pci-00c3"

# Load common path configuration
# shellcheck source=/dev/null
[ -f ~/.path_common.sh ] && . ~/.path_common.sh
