@import "config.rasi"

case-indicator {
    enabled: false;
    text-color: transparent; /* hide text */
    background-color: transparent; /* hide background */
}

listview {
    lines:     15;
    columns:   1;
}
