[Desktop Entry]
Type=Application
Exec=/home/ioangel/.local/bin/single-pressed-ctrl-esc
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=SinglePressedCtrlToEsc
Name=SinglePressedCtrlToEsc
Comment[en_US]=
Comment=
